body { 
	background: linear-gradient(
 	rgba(0, 0, 0, 0.45), 
 	rgba(0, 0, 0, 0.45)
 	),url('wallpaper.jpg') no-repeat; 

}
.container hr{
	color : orange;
}

.container h1{
	color : #FCFBFC;
	text-shadow: 0.4em 0.4em 0.6em black;
}

.container h2{
	color : #FCFBFC;
	text-shadow: 0.4em 0.4em 0.5em black;
}

.container img{
	box-shadow: box-shadow: 1px 1px 12px black;
}

.container li{
	color : #FCFBFC;
	text-shadow: 0.1em 0.1em 0.1em black;
	font-size:150%;	
}

